.table-component{
  margin-top: 2rem;
}

.table-wrap{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

td {
  padding: 20px 20px;
  font-size: 1.3vw;
}
table {
  width: 100% !important;
}

thead,
tfoot {
  color: black;
  font-size: 2vw;
  margin-bottom: 3%;
  text-align: center;
  font-weight: bold;
}

tbody {
  text-align: center;
}

.add-btn {
  padding: 2% 2%;
  border-radius: 5px;
  color: white;
  background: blue;
  font-size: 1.5vw;
  cursor: pointer;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}
.inner {
  width: 40px;
  height: 20px;
}

.search-wrap{
  margin-top: 1rem;
  margin-left: 3rem;
}

.search-input{
  padding: 0.5rem;
  border: 3px solid #eee;
  border-radius: 5px;
}

.search-btn{
  margin-top: 0 !important;
  margin-left: 0.5rem !important;
}

.query-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}

.query-btn{
  color: blue;
  margin-right: 2rem;
   cursor: pointer;
}

.withclose{
  background: #ddd;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -10px;
}

.withopen{
  background: #eaa93d;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -10px;
}

@media screen and (max-width: 500px) {
  td {
    padding: 20px 20px;
    font-size: 1.3vw;
  }
  table {
    width: 100% !important;
  }

  thead,
  tfoot {
    color: black;
    font-size: 2vw;
    margin-bottom: 3%;
    font-weight: bold;
  }

  tbody {
    text-align: center;
  }

  .add-btn {
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
    background: blue;
    font-size: 1.5vw;
    cursor: pointer;
    margin-right: 3%;
    text-align: center;
  }
  .inner {
    width: 30px;
    height: 10px;
  }
}
