.footer {
  background: black;
}
.fav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.fav h3 {
  color: white;
  font-size: 2vw;
}
.fav p {
  color: white;
  font-size: 1vw;
  align-items: center;
}
.fav fa {
  margin-left: 10px;
}
