.section-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.section-four h3 {
  font-size: 2vw;
  margin-bottom: 10%;
}
.section-four p {
  font-size: 1.5vw;
  line-height: 1.5;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  background: #eaa93d;
  padding: 5px 10px;
  border-radius: 5px;
}
.links {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 3%;
}
.back-pad {
  border: solid 0.5px #000000;
  border-radius: 5px;
  box-shadow: 5px 5px lightgrey;
  padding: 15px 15px;
}
@media screen and (max-width: 500px) {
  .back-pad {
    border: solid 0.5px #000000;
    border-radius: 5px;
    box-shadow: 5px 5px lightgrey;
    padding: 5px 5px;
  }
  .section-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .links{
    margin-top: -16%;
  }

  .section-four p{
    line-height: 0.5;
  }
}
